* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* VARIABLES */
/* GENERAL */
a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

ul {
  font-size: 0; }

* {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  color: #4f4d4d;
  font-size: 20px;
  font-weight: 100; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* CLASS */
.lien {
  padding: 5px 20px;
  border-left: solid 2px #D02F28;
  display: inline-block;
  margin: 20px 0;
  color: #D02F28;
  transition: all 0.25s ease;
  position: relative;
  font-weight: 500;
  letter-spacing: 1px; }
  .lien:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: auto;
    width: 0%;
    background-color: #D02F28;
    transition: all 0.5s ease; }

.lien:hover {
  color: white; }
  .lien:hover:before {
    width: 100%; }

/* GLOBAL */
#map, #intro-img {
  width: 70vw;
  height: 100vh;
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0; }

h1 {
  font-weight: 500;
  letter-spacing: -2px;
  color: #D02F28;
  font-size: 50px;
  margin-bottom: 30px; }

#intro-texte p, #indice p {
  font-weight: 300;
  margin-bottom: 100px;
  line-height: 1.5; }

/* ACCUEIL */
.p-index #intro-texte, .p-index footer {
  text-align: left;
  padding: 50px;
  width: 30vw; }

.p-index #intro-texte {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%); }

.p-index footer {
  position: absolute;
  bottom: 0; }
  .p-index footer p {
    text-align: center;
    font-size: 12px; }

.p-index #intro-img #icone {
  z-index: 999;
  position: absolute;
  width: 25%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #D02F28; }

.p-index #intro-img #bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; }

/* QUIZ */
.p-quiz #quiz {
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 0 50px; }
  .p-quiz #quiz #indice img {
    max-height: 50px;
    max-width: 100px;
    object-position: center;
    object-fit: contain;
    margin: 0 10px; }
  .p-quiz #quiz form input, .p-quiz #quiz form button {
    outline: none;
    border: 0;
    border-left: solid 2px #D02F28;
    width: 100%;
    color: #D02F28; }
  .p-quiz #quiz form input {
    margin-bottom: 20px;
    padding: 5px 0 5px 20px; }
  .p-quiz #quiz form button {
    margin-top: 20px;
    background-color: transparent;
    padding: 5px 20px;
    cursor: pointer;
    text-align: left;
    position: relative;
    color: #D02F28;
    transition: all 0.25s ease;
    position: relative;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;
    width: auto; }
    .p-quiz #quiz form button * {
      display: inline-block; }
    .p-quiz #quiz form button:before {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: auto;
      width: 0%;
      background-color: #D02F28;
      transition: all 0.5s ease; }
    .p-quiz #quiz form button:hover {
      color: white; }
      .p-quiz #quiz form button:hover:before {
        width: 100%; }
  .p-quiz #quiz #next {
    margin-bottom: 0;
    cursor: pointer;
    display: none; }

.p-quiz #result {
  display: none;
  position: absolute;
  top: 0;
  z-index: 999;
  left: 30vw;
  height: 100%;
  width: calc((25 * 70vw)/100);
  background-color: #D02F28; }
  .p-quiz #result svg {
    width: 100%;
    height: 100%;
    background-color: #D02F28; }
